@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Reservation";
    string result = ViewBag.Result;
    string error = ViewBag.Error;
}
<style type="text/css">
    .btn-default {
    }
</style>

<h2>Reseravation</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("AddReservation", "Home", FormMethod.Post))
            {
                var id = (int)ViewBag.Id;
                <h4>Enter Studnet Details Info</h4>
                @Html.Hidden("RoomId", id)
                @Html.Hidden("UserName", User.Identity.Name)
                @Html.Hidden("UserStringId", User.Identity.GetUserId())
                <input type="time" name="Start" , id="Start" />
                <input type="time" name="End" , id="End" />
                <input type="submit" value="Add" class="btn btn-default" />
            }
        </section>
        <br>
    </div>
    <div>@result</div>
    <div>@error</div>
</div>

