@model testapp.Models.ShowInfoViewModel
@{
    ViewBag.Title = "ShowInfo";
}
@{
    string result = ViewBag.Result;
    string error = ViewBag.Error;
}
<h2>ShowInfo</h2>
<div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>name</th>
                <th>start</th>
                <th>end</th>
                <th>reservator</th>
                <th></th>

            </tr>

            <tbody>
                @{
                    if (!Model.List.Any())
                    {
                    }
                    else
                    {

                        foreach (var item in Model.List)
                        {
                            <tr>
                                <td>@item.Room.Title</td>
                                <td>@item.StartTime</td>
                                <td>@item.EndTime</td>
                                @{
                                    if (item.UserName != null)
                                    {
                                        <td>@item.UserName</td>
                                    }
                                    else
                                    {
                                        <td>&nbsp;</td>
                                    }
                                }

                                <td>@Html.ActionLink("Delete Reservation", "DeleteReservation", routeValues: new { resId = item.Id })</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        @Html.ActionLink("Add Reservation", "Reservation", new { id = Model.RoomId })
    </div>
    <br>
    <div>@result</div>
    <div>@error</div>
</div>