@model testapp.Models.ShowInfoViewModel
@{
    ViewBag.Title = "ShowInfo";
}
@{
}
<h2>ShowInfo</h2>
<div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>name</th>
                <th>start</th>
                <th>end</th>
                <th>reservator</th>
                <th></th>

            </tr>

            <tbody>
                @{
                    if (!Model.List.Any())
                    {
                    }
                    else
                    {

                        foreach (var item in Model.List)
                        {
                            <tr>
                                <td>@item.Room.Title</td>
                                <td>@item.StartTime</td>
                                <td>@item.EndTime</td>
                                @{
                                    if (item.User != null)
                                    {
                                        <td>@item.User.UserName</td>
                                    }
                                    else
                                    {
                                        <td>  </td>
                                    }
                                }
                                <td>@Html.ActionLink("Delete Reservation", "DeleteReservation", new { resId = item.Id })</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>

        @Html.ActionLink("Add Reservation", "Reservation", new { id = Model.RoomId })
    </div>
    <br>
</div>